{% extends "base.html" %}
{% block title %}{% if session['login'] %}
Accueil{% else %}Connexion{% endif %}{% endblock %}
{% block body %}
{% if session['login'] %}
<h1>vous êtes {{session['login']}}</h1>
<button onclick="logout()">deconnection</button>
{% else %}
<form action={{url_for('apiLogin')}} method="POST" id="form">
    <div class="row">
        <div class="col">
            <label for="login" class="form-label">login:</label>
            <input type="text" id="login" name="login" class="form-control"/>
        </div>
        <div class="col">
            <label for="password" class="form-label">password:</label>
            <input type="password" id="password" name="password" class="form-control"/>
        </div>
    </div>
    <div class="row m-3">
        <input type="submit" value="Connexion" class="col-6 offset-3 btn btn-primary"/>
    </div>
</form>
{% endif %}
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $('#form').submit(function(e){
            e.preventDefault()
            var form = $(this);
             fetch(form.attr('action'), {
                method : form.attr('method'),
                headers : {'Content-Type' : 'application/json; charset=utf-8'},
                body : JSON.stringify({login : $('#login').val(), password : $('#password').val()})
            })
            .then(response => response.json())
            .then(data => {if (typeof data['error'] == 'undefined'){location.reload()}})
        })
    })
    function logout(){
        fetch("{{ url_for('apiLogout') }}")
            .then(response => response.json())
            .then(data => {if (data['isOk'] == true){location.reload()}})
    }  
</script>
{% endblock %}