{% extends "base.html" %}
{% block body %}
<div class="container-fluid" style="height: 100%;">
    <div class="row" style="height: 75%;">
        <div class="col-2">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                {% for i in range(0, missionsLen) %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{i}}" aria-expanded="false" aria-controls="flush-collapse{{i}}">
                            {{ missions[i]['nom'] }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{i}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">{{ missions[i]['pays'] }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="map" class="col-10" style="height: 100%;"></div>
    </div>
    <div class="row" style="height: 25%;"><h1>ICI LES SYMBOLES</h1></div>
</div>
{% endblock %}
{% block script %}
<script>
    var map = L.map('map').setView([47.94, -2.13], 10);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
</script>
{% endblock %}